<h1>DrivewayStay</h1>

<p>Welcome to DrivewayStay! We connect owners that have driveways or other parking spots to renters that want to skip the expensive parking fees at local stadiums and venues.
Log in as either an owner or a renter.</p>

<div class="row">
  <%= link_to 'Owner Log In', owner2_login_path, :class => 'btn btn-primary col-2' %>
  <%= link_to 'Renter Log In', renter2_login_path, :class => 'btn btn-primary col-2' %>
</div>
